@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

a.active hr{
  display: block;
}

body{
  font-family: "Outfit", sans-serif;
}

.title-font {
  font-family: "Bitter", serif !important;
  font-weight: 700;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}
